.header {
  background-color: #d3d3d3;
  margin: 10px;
  padding: 20px;
}

.product {
  padding: 20px;
  margin: 10px;
  background-color: #7cc4d8;
  width: fit-content;
}

.products {
  width: 100%;
  display: flex;
}

.img {
  width: 200px;
}

.btn {
  padding: 15px, 35px;
  background-color: black;
  color: #fff;
  font-size: 20px;
}

.data {
  background-color: #c6c4c3;
  padding: 20px;
  width: fit-content;
  margin: 10px;
}
